{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lendys Caffé</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<body class="bg-orange-100 font-serif leading-normal tracking-normal">
    <!-- Navbar -->
    <nav class="bg-orange-900">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <!-- Navigation centrale avec barre de recherche -->
                <div class="flex flex-1 items-center justify-center sm:justify-between">
                    <!-- Social media icons (left side) -->
                    <div class="hidden sm:flex space-x-4">
                        <a href="#" class="text-gray-200 hover:text-gray-400">
                            <i class="fab fa-facebook-f fa-1x"></i>
                        </a>
                        <a href="#" class="text-gray-200 hover:text-gray-400">
                            <i class="fab fa-twitter fa-1x"></i>
                        </a>
                        <a href="#" class="text-gray-200 hover:text-gray-400">
                            <i class="fab fa-instagram fa-1x"></i>
                        </a>
                        <a href="#" class="text-gray-200 hover:text-gray-400">
                            <i class="fab fa-linkedin-in fa-1x"></i>
                        </a>
                    </div>
                    
                    <!-- Search bar -->
                    <div class="flex flex-1 items-center mx-4">
                        <form class="w-full max-w-sm mx-auto">
                            <div class="relative">
                                <input type="search" name="search" placeholder="Recherche..." class="w-64 py-2 px-4 rounded-md bg-amber-200 text-white placeholder-white-400 focus:outline-none focus:ring-2 focus:ring-gray-400" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Image section -->
    <div class="max-h-52 flex items-center justify-center bg-orange-100">
        <a href="{% url 'len:index' %}">
        <img src="../../static/images/lendys.png" alt="Description de l'image" class="max-h-44 object-contain" />
        </a>    
    </div>
	
	<nav class="border-solid border-gray-200 w-full border-b py-3 bg-inherit">
		<div class="container mx-auto">
			<div class="w-full flex flex-col lg:flex-row w-full">
				<div class="flex justify-between lg:flex-row w-full">
					<ul class="flex items-center mx-auto gap-2 ">
						<li>
							<div class="dropdown relative inline-flex">
								<button type="button" data-target="dropdown-eshop" class="dropdown-toggle flex items-center justify-between text-orange-800 text-sm lg:text-base font-medium hover:text-gray-400 transition-all duration-500 mb-2 lg:mr-6 md:mb-0 md:mr-3 px-12">
									E-shop
									<svg class="dropdown-open:rotate-180 w-2.5 h-2.5 text-orange-800" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
									</svg>
								</button>
								<div id="dropdown-eshop" class="dropdown-menu rounded-xl shadow-lg bg-white absolute top-full w-72 mt-2 hidden z-50" aria-labelledby="dropdown-eshop">
									<ul class="py-2">
										<li><a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="{% url 'len:conf' %}">Confiserie</a></li>
                                    <li>
                                        <a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="{% url 'len:gat' %}"> Gateaux </a>
                                    </li>
                                    <li>
                                        <a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="{% url 'len:gat_trad' %}"> Gateaux Traditionnels </a>
                                    </li>
                                    <li>
                                        <a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="{% url 'len:glace' %}"> Desserts glacés </a>
                                    </li>
                                    <li>
                                        <a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="{% url 'len:snack' %}"> Snack </a>
                                    </li>
                                    <li>
                                        <a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="{% url 'len:venoiserie' %}"> Venoiserie </a>
                                    </li>
                                    <li>
                                        <a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="{% url 'len:Salés' %}"> Salés </a>
                                    </li>
                                    
                                    </li>
                                    
                                    </ul>
                                    </div>
                                    </div> 
                            </li>
                            <li>
                            <a href="javascript:;" class="px-12 flex items-center justify-between text-orange-800 text-sm lg:text-base font-medium   transition-all duration-500 mb-2 lg:mr-6 md:mb-0 md:mr-3">Nos Brochures</a>
                            </li>
                            <li>
                            <a href="javascript:;" class="px-12 flex items-center justify-between text-orange-800 text-sm lg:text-base font-medium   transition-all duration-500 mb-2 lg:mr-6 md:mb-0 md:mr-3">La Maison</a>
                            </li>
							{% if user.is_authenticated %}
							<li>
								<div class="dropdown relative inline-flex">
									<button type="button" data-target="dropdown-profile" class="dropdown-toggle flex items-center justify-between text-orange-800 text-sm lg:text-base font-medium hover:text-gray-400 transition-all duration-500 mb-2 lg:mr-6 md:mb-0 md:mr-3">
										<i class="fa-solid fa-user-tie"></i>{{user.Nom}}  {{user.prenom}}
										<svg class="dropdown-open:rotate-180 w-2.5 h-2.5 text-orange-800" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
										</svg>
									</button>
									<div id="dropdown-profile" class="dropdown-menu rounded-xl shadow-lg bg-white absolute top-full w-72 mt-2 hidden z-50" aria-labelledby="dropdown-profile">
										<ul class="py-2">
											<li><a class="block px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium" href="javascript:;">Profile</a></li>
											<li><a href="{% url 'len:logout'%}" class="block px-6 py-2 hover:bg-gray-100 text-red-500 font-medium" href="javascript:;">Log Out</a></li>
										</ul>
									</div>
								</div>
							</li>
							{% else %}
							<li>
								<a href="{% url 'len:login' %}" class="px-12 flex items-center justify-between text-orange-800 text-sm lg:text-base font-medium   transition-all duration-500 mb-2 lg:mr-6 md:mb-0 md:mr-3">Se connecter</a>
								</li>
							{% endif %}
                        </ul>
                        </div>
                    </div>
                    </div>
                </nav>
                <form id="commande-form" method="POST" action="{% url 'len:passer_commande' produit.id %}">
                    {% csrf_token %}
                    <div class="max-w-xl mx-auto bg-orange-100 border border-gray-200 rounded-xl p-6 shadow-2xl mt-10 mb-10">
                        <!-- Image du produit -->
                        <div class="flex justify-center mb-4">
                            <div class="min-w-full flex items-center justify-center bg-orange-100">
                                <img src="{{ produit.image.url }}" alt="Produit" class="max-h-44 object-contain rounded-xl">
                            </div>
                        </div>
                        
                        <!-- Informations sur le produit -->
                        <div class="text-center mb-6">
                            <h2 class="text-lg font-semibold text-gray-800">{{ produit.Nom }}</h2>
                            <p class="text-gray-600 mt-2">Prix : <span id="product-price" class="text-xl font-bold">{{ produit.prix }} MAD</span></p>
                        </div>
                        
                        <!-- Boutons pour ajouter ou retirer un produit -->
                        <div class="flex items-center justify-center mb-6 space-x-4">
                            <button type="button" id="remove-item" class="py-2.5 px-5 h-9 bg-red-100 rounded-full shadow-sm text-xs text-red-600 transition-all duration-500 hover:bg-red-700 hover:text-white">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <button type="button" id="add-item" class="py-2.5 px-5 h-9 bg-orange-100 rounded-full shadow-sm text-xs text-orange-600 transition-all duration-500 hover:bg-orange-700 hover:text-white">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        
                        <!-- Total -->
                        <div class="text-center mb-6">
                            <p class="text-gray-700">Total : <span id="total-price" class="text-xl font-bold">{{ produit.prix }} MAD</span></p>
                        </div>
                        
                        <!-- Champ caché pour la quantité -->
                        <input type="hidden" name="quantite" id="quantite" value="1">
                        
                        <!-- Options de paiement -->
                        <div class="mb-6">
                            <h3 class="text-lg font-semibold text-gray-700 mb-2">Méthode de paiement</h3>
                            <div class="flex justify-around">
                                <label class="flex items-center px-12">
                                    <input type="radio" name="payment-method" value="en ligne" class="form-radio h-5 w-5 text-orange-600">
                                    <span class="ml-2 text-gray-600">Payer en ligne</span>
                                </label>
                                <label class="flex items-center">
                                    <input type="radio" name="payment-method" value="especes" class="form-radio h-5 w-5 text-orange-600">
                                    <span class="ml-2 text-gray-600">Payer en espèce</span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mt-4" role="alert">
                            <p class="font-bold">Important !</p>
                            <p>Cette commande est uniquement disponible pour le retrait ("Pick-Up"). Aucun service de livraison n'est proposé pour cette commande.</p>
                          </div>
                        <!-- Bouton de validation -->
                        <div class="text-center">
                            <button type="button" id="submit-button" class="w-full py-2.5 px-5 bg-orange-800 text-white-500 rounded-full shadow-sm transition-all duration-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-green-300">
                                Valider
                            </button>
                        </div>
                    </div>
                </form>
                
                
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>          
<script> document.getElementById('submit-button').addEventListener('click', function(event) {
    event.preventDefault(); // Empêche la soumission automatique du formulaire

    const paymentMethod = document.querySelector('input[name="payment-method"]:checked').value;

    if (paymentMethod === 'especes') {
        // Affiche l'alerte SweetAlert pour le paiement en espèce
        Swal.fire({
            title: 'Commande passée avec succès!',
            text: 'Merci pour votre commande. Veuillez venir au café pour récupérer votre commande.',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
                // Soumettre le formulaire après avoir cliqué sur OK
                document.getElementById('commande-form').submit();
            }
        });
    } else if (paymentMethod === 'en ligne') {
        // Redirige vers la page de paiement
        document.getElementById('commande-form').submit();
    } else {
        // Affiche une alerte si aucune méthode de paiement n'est sélectionnée
        Swal.fire({
            title: 'Erreur',
            text: 'Veuillez sélectionner une méthode de paiement.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
});
            document.addEventListener('DOMContentLoaded', function () {
                // Function to toggle the dropdown menu visibility
                function toggleDropdown(event) {
                    const targetId = event.target.getAttribute('data-target');
                    if (targetId) {
                        const dropdown = document.getElementById(targetId);
                        dropdown.classList.toggle('hidden');
                        dropdown.classList.toggle('open');
                    }
                }
            
                // Function to close all dropdowns except the one being clicked
                function closeAllDropdowns(except) {
                    document.querySelectorAll('.dropdown-menu').forEach(menu => {
                        if (menu !== except) {
                            menu.classList.add('hidden');
                            menu.classList.remove('open');
                        }
                    });
                }
            
                // Add event listeners to all dropdown toggle buttons
                document.querySelectorAll('.dropdown-toggle').forEach(button => {
                    button.addEventListener('click', function (event) {
                        const targetId = event.currentTarget.getAttribute('data-target');
                        const targetDropdown = document.getElementById(targetId);
            
                        // Close other dropdowns
                        closeAllDropdowns(targetDropdown);
            
                        // Toggle the clicked dropdown
                        toggleDropdown(event);
                    });
                });
            
                // Close all dropdowns when clicking outside
                document.addEventListener('click', function (event) {
                    const isClickInside = event.target.closest('.dropdown');
                    if (!isClickInside) {
                        closeAllDropdowns();
                    }
                });
            });
            const productPriceElement = document.getElementById('product-price');
const totalPriceElement = document.getElementById('total-price');
const addItemButton = document.getElementById('add-item');
const removeItemButton = document.getElementById('remove-item');
const quantiteInput = document.getElementById('quantite');

let productPrice = parseInt(productPriceElement.textContent);
let totalPrice = productPrice;
let quantity = 1;

addItemButton.addEventListener('click', function() {
    quantity++;
    totalPrice += productPrice;
    totalPriceElement.textContent = totalPrice + " MAD";
    quantiteInput.value = quantity;  // Mise à jour du champ hidden
});

removeItemButton.addEventListener('click', function() {
    if (quantity > 1) {
        quantity--;
        totalPrice -= productPrice;
        totalPriceElement.textContent = totalPrice + " MAD";
        quantiteInput.value = quantity;  // Mise à jour du champ hidden
    }
});

        </script>
    </body>
</html>