{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lendys Caffé</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<body class="bg-orange-100 font-serif leading-normal tracking-normal">
    <!-- Image section -->
    <div class="max-h-52 flex items-center justify-center bg-orange-100">
        <a href="{% url 'len:index' %}">
        <img src="../../static/images/lendys.png" alt="Description de l'image" class="max-h-44 object-contain" />
        </a>
    </div>
    <main class="flex justify-center items-center min-h-screen bg-orange-100 py-10">
        <div class="bg-white shadow-lg rounded-lg p-8 max-w-5xl w-full">
        <div class="max-w-3xl mx-auto px-4 py-8">
            <div class="mx-auto max-w-2xl sm:text-center">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Se Registrer</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">Créez un compte pour débuter votre experience avec nous!</p>
            </div>
            
            <form method="POST" class="mt-8 space-y-8">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
                    <!-- Username -->
                    <div class="sm:col-span-2">
                        <label for="username" class="block font-bold text-sm  leading-6 text-gray-900">Nom d'utilisateur:</label>
                        <div class="mt-2">
                            {{ form.username }}
                            {% for error in form.username.errors %}
                        <p class="text-red-600 text-sm">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
    
                    <!-- Email -->
                    <div class="sm:col-span-2">
                        <label for="email" class="block font-bold text-sm  leading-6 text-gray-900">adresse mail:</label>
                        <div class="mt-2">
                            {{ form.email }}
                            {% for error in form.email.errors %}
                        <p class="text-red-600 text-sm">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
    
                    <!-- Password1 -->
                    <div class="sm:col-span-2">
                        <label for="password1" class="block font-bold text-sm  leading-6 text-gray-900">Mot de passe:</label>
                        <div class="mt-2">
                            {{ form.password1 }}
                            {% for error in form.password1.errors %}
                        <p class="text-red-600 text-sm">{{ error }}</p>
                             {% endfor %}
                        </div>
                    </div>
    
                    <!-- Password2 -->
                    <div class="sm:col-span-2">
                        <label for="password2" class="block font-bold text-sm  leading-6 text-gray-9000">Confirmer votre mot de passe:</label>
                        <div class="mt-2">
                            {{ form.password2 }}
                            {% for error in form.password2.errors %}
                        <p class="text-red-600 text-sm">{{ error }}</p>
                             {% endfor %}
                        </div>
                    </div>
    
                    <!-- Prenom -->
                    <div>
                        <label for="Prenom" class="block font-bold text-sm  leading-6 text-gray-900">Prenom:</label>
                        <div class="mt-2">
                            {{ form.Prenom }}
                        </div>
                    </div>
    
                    <!-- Nom -->
                    <div>
                        <label for="Nom" class="block font-bold text-sm  leading-6 text-gray-900">Nom:</label>
                        <div class="mt-2">
                            {{ form.Nom }}
                        </div>
                    </div>
    
                    <!-- Tel -->
                    <div>
                        <label for="tel" class="block font-bold text-sm  leading-6 text-gray-900">Tel:</label>
                        <div class="mt-2">
                            {{ form.tel }}
                        </div>
                    </div>
    

    
                    
                </div>
    
                <div class="pt-5">
                    <button type="submit" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register</button>
                </div>
            </form>
        </div>
    </div>
    </main>
</body>
</html>
