{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lendys Caffé</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<body class=" font-serif leading-normal tracking-normal">
     <!-- Navbar -->
<nav class="bg-orange-200 h-44"> <!-- Increased height -->
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-full items-center justify-center"> <!-- Centered content and used full height -->
            <!-- Navigation centrale avec barre de recherche -->
            <div class="flex items-center justify-center w-full"> <!-- Centered the image in the full width -->
                <a href="{% url 'len:index' %}">
                <img src="../../static/images/lendys.png" alt="Description de l'image" class="h-32 object-contain" /> <!-- Adjusted image height to fit the navbar -->
                </a> 
            </div>
        </div>
    </div>
    <!-- Mobile menu -->
    <div class="flex flex-row space-x-4 px-2 pb-3 " id="mobile-menu">
        <a href="#" class="tab-button rounded-md px-3 py-2 text-base font-bold text-orange-800 hover:bg-gray-700 hover:text-white" aria-current="page" onclick="openTab('Produits', this)">Produits</a>
        <a href="#" class="tab-button rounded-md px-3 py-2 text-base font-bold text-orange-800 hover:bg-gray-700 hover:text-white" aria-current="page" onclick="openTab('Commandes', this)">Commandes</a>
        <a href="#" class="tab-button rounded-md px-3 py-2 text-base font-bold text-orange-800 hover:bg-gray-700 hover:text-white" aria-current="page" onclick="openTab('Actualites', this)">Actualités</a>
    </div>
</nav>

<main class="flex justify-center items-center min-h-screen bg-gray-100 ">
    <div class="bg-white shadow-lg rounded-lg p-8 max-w-5xl w-full">
        <div id="Produits" class="tab active">
            <div class="flex flex-row space-x-4 px-2 pb-3 pt-2 mb-5" id="sub-menu">
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" aria-current="page" onclick="openSubTab('Salé', this)">Salé</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" onclick="openSubTab('Gateaux', this)">Gateaux</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" onclick="openSubTab('Gateaux_trad', this)">Gateaux traditionnels</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" onclick="openSubTab('Venoiseries', this)">Venoiseries</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" aria-current="page" onclick="openSubTab('Tartes', this)">Tartes</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" onclick="openSubTab('Confisseries', this)">Confisseries</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" onclick="openSubTab('Snacks', this)">Snacks</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" onclick="openSubTab('Glaces', this)">Glaces</a>
            </div>
            <div id="Salé" class="sub-tab active">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Salés:</h2>
                    <a href="{% url 'len:ajouter_salé' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                    </a> 
                </div>
                
             <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">description</th>
                            <th class="px-4 py-2 text-left border">prix</th>
                            <th class="px-4 py-2 text-left border">Image</th>
                            
                           
                            <th class="px-4 py-2 text-left border">Modifier</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                            
                        </tr>
                    </thead>
                    <tbody id="salé-list">
                        {% for sl in Salé %}
                        <tr class="hover:bg-gray-100" id="sl-{{ sl.id }}">
                            <td class="border px-4 py-2">{{ sl.Nom }}</td>
                            <td class="border px-4 py-4">{{ sl.description }}</td>
                            <td class="border px-4 py-4">{{ sl.prix }}</td>
                            <td class="border px-4 py-2">
                                {% if sl.image %}
                                <img src="{{ sl.image.url }}" class="h-16 w-32">
                                {% else %}
                                pas d'image
                                {% endif %}
                            </td>
                            
                            
                            
                            <td class="border px-8 py-4">
                                    <a href="{% url 'len:modifier_salé' sl.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                            </td>
                            <td class="border px-8 py-4">
                            <a href="#" 
                                 data-id="{{ sl.id }}"  
                                class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                Supprimer
                            </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            <div id="Gateaux" class="sub-tab hidden">
                
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="py-7 text-3xl font-bold text-gray-900">Les Gateaux:</h2>
                        <a href="{% url 'len:ajouter_gateau' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                            <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                        </a> 
                    </div>
                    
                 <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                    <div class="overflow-x-auto overflow-y-auto max-h-96">
                    <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2 text-left border">Nom</th>
                                <th class="px-4 py-2 text-left border">description</th>
                                <th class="px-4 py-2 text-left border">prix</th>
                                <th class="px-4 py-2 text-left border">Image</th>
                                
                               
                                <th class="px-4 py-2 text-left border">Modifier</th>
                                <th class="px-4 py-2 text-left border">Supprimer</th>
                                
                            </tr>
                        </thead>
                        <tbody id="gateaux-list">
                            {% for gt in gateaux %}
                            <tr class="hover:bg-gray-100" id="gt-{{ gt.id }}">
                                <td class="border px-4 py-2">{{ gt.Nom }}</td>
                                <td class="border px-4 py-4">{{ gt.description }}</td>
                                <td class="border px-4 py-4">{{ gt.prix }}</td>
                                <td class="border px-4 py-2">
                                    {% if gt.image %}
                                    <img src="{{ gt.image.url }}" class="h-16 w-32">
                                    {% else %}
                                    pas d'image
                                    {% endif %}
                                </td>
                               
                                
                                
                                <td class="border px-8 py-4">
                                        <a href="{% url 'len:modifier_salé' gt.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                                </td>
                                <td class="border px-8 py-4">
                                <a href="#" 
                                     data-id="{{ gt.id }}"  
                                    class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                    Supprimer
                                </a>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>

            <div id="Gateaux_trad" class="sub-tab hidden">
                
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Gateaux Traditionnels:</h2>
                    <a href="{% url 'len:ajouter_gateau_trad' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                    </a> 
                </div>
                
             <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">description</th>
                            <th class="px-4 py-2 text-left border">prix</th>
                            <th class="px-4 py-2 text-left border">Image</th>
                            
                           
                            <th class="px-4 py-2 text-left border">Modifier</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                            
                        </tr>
                    </thead>
                    <tbody id="gateaux-list">
                        {% for gt in gat_trad %}
                        <tr class="hover:bg-gray-100" id="gt-{{ gt.id }}">
                            <td class="border px-4 py-2">{{ gt.Nom }}</td>
                            <td class="border px-4 py-4">{{ gt.description }}</td>
                            <td class="border px-4 py-4">{{ gt.prix }}</td>
                            <td class="border px-4 py-2">
                                {% if gt.image %}
                                <img src="{{ gt.image.url }}" class="h-16 w-32">
                                {% else %}
                                pas d'image
                                {% endif %}
                            </td>
                           
                            
                            
                            <td class="border px-8 py-4">
                                    <a href="{% url 'len:modifier_salé' gt.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                            </td>
                            <td class="border px-8 py-4">
                            <a href="#" 
                                 data-id="{{ gt.id }}"  
                                class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                Supprimer
                            </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            </div>
            <div id="Venoiseries" class="sub-tab hidden">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Venoiseries:</h2>
                    <a href="{% url 'len:ajouter_venoiserie' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                    </a> 
                </div>
                
             <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">description</th>
                            <th class="px-4 py-2 text-left border">prix</th>
                            <th class="px-4 py-2 text-left border">Image</th>
                            
                           
                            <th class="px-4 py-2 text-left border">Modifier</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                            
                        </tr>
                    </thead>
                    <tbody id="gateaux-list">
                        {% for vn in venoiserie %}
                        <tr class="hover:bg-gray-100" id="vn-{{ vn.id }}">
                            <td class="border px-4 py-2">{{ vn.Nom }}</td>
                            <td class="border px-4 py-4">{{ vn.description }}</td>
                            <td class="border px-4 py-4">{{ vn.prix }}</td>
                            <td class="border px-4 py-2">
                                {% if vn.image %}
                                <img src="{{ vn.image.url }}" class="h-16 w-32">
                                {% else %}
                                pas d'image
                                {% endif %}
                            </td>
                            
                            
                            
                            <td class="border px-8 py-4">
                                    <a href="{% url 'len:modifier_salé' vn.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                            </td>
                            <td class="border px-8 py-4">
                            <a href="#" 
                                 data-id="{{ vn.id }}"  
                                class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                Supprimer
                            </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            <div id="Tartes" class="sub-tab hidden">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Tartes:</h2>
                    <a href="{% url 'len:ajouter_tarte' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                    </a> 
                </div>
                
             <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">description</th>
                            <th class="px-4 py-2 text-left border">prix</th>
                            <th class="px-4 py-2 text-left border">Image</th>
                            
                           
                            <th class="px-4 py-2 text-left border">Modifier</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                            
                        </tr>
                    </thead>
                    <tbody id="gateaux-list">
                        {% for tr in tartes %}
                        <tr class="hover:bg-gray-100" id="tr-{{ tr.id }}">
                            <td class="border px-4 py-2">{{ tr.Nom }}</td>
                            <td class="border px-4 py-4">{{ tr.description }}</td>
                            <td class="border px-4 py-4">{{ tr.prix }}</td>
                            <td class="border px-4 py-2">
                                {% if tr.image %}
                                <img src="{{ tr.image.url }}" class="h-16 w-32">
                                {% else %}
                                pas d'image
                                {% endif %}
                            </td>
                            
                            
                            
                            <td class="border px-8 py-4">
                                    <a href="{% url 'len:modifier_salé' tr.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                            </td>
                            <td class="border px-8 py-4">
                            <a href="#" 
                                 data-id="{{ tr.id }}"  
                                class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                Supprimer
                            </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            <div id="Confisseries" class="sub-tab hidden">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Confisseries:</h2>
                    <a href="{% url 'len:ajouter_conf' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                    </a> 
                </div>
                
             <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">description</th>
                            <th class="px-4 py-2 text-left border">prix</th>
                            <th class="px-4 py-2 text-left border">Image</th>
                            
                           
                            <th class="px-4 py-2 text-left border">Modifier</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                            
                        </tr>
                    </thead>
                    <tbody id="gateaux-list">
                        {% for vn in confisserie %}
                        <tr class="hover:bg-gray-100" id="vn-{{ vn.id }}">
                            <td class="border px-4 py-2">{{ vn.Nom }}</td>
                            <td class="border px-4 py-4">{{ vn.description }}</td>
                            <td class="border px-4 py-4">{{ vn.prix }}</td>
                            <td class="border px-4 py-2">
                                {% if vn.image %}
                                <img src="{{ vn.image.url }}" class="h-16 w-32">
                                {% else %}
                                pas d'image
                                {% endif %}
                            </td>
                            
                            
                            
                            <td class="border px-8 py-4">
                                    <a href="{% url 'len:modifier_salé' vn.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                            </td>
                            <td class="border px-8 py-4">
                            <a href="#" 
                                 data-id="{{ vn.id }}"  
                                class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                Supprimer
                            </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            <div id="Snacks" class="sub-tab hidden">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Snacks:</h2>
                    <a href="{% url 'len:ajouter_snack' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                    </a> 
                </div>
                
             <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">description</th>
                            <th class="px-4 py-2 text-left border">prix</th>
                            <th class="px-4 py-2 text-left border">Image</th>
                            
                           
                            <th class="px-4 py-2 text-left border">Modifier</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                            
                        </tr>
                    </thead>
                    <tbody id="gateaux-list">
                        {% for vn in snack %}
                        <tr class="hover:bg-gray-100" id="vn-{{ vn.id }}">
                            <td class="border px-4 py-2">{{ vn.Nom }}</td>
                            <td class="border px-4 py-4">{{ vn.description }}</td>
                            <td class="border px-4 py-4">{{ vn.prix }}</td>
                            <td class="border px-4 py-2">
                                {% if vn.image %}
                                <img src="{{ vn.image.url }}" class="h-16 w-32">
                                {% else %}
                                pas d'image
                                {% endif %}
                            </td>
                            
                            
                            
                            <td class="border px-8 py-4">
                                    <a href="{% url 'len:modifier_salé' vn.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                            </td>
                            <td class="border px-8 py-4">
                            <a href="#" 
                                 data-id="{{ vn.id }}"  
                                class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                Supprimer
                            </a>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            <div id="Glaces" class="sub-tab hidden">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Glaces:</h2>
                    <a href="{% url 'len:ajouter_glace' %}" class="block rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <i class="fas fa-add text-gray-300 text-2xl"></i> Ajouter un produit
                    </a> 
                </div>
                
             <!-- Wrapper div with overflow for both horizontal and vertical scrolling -->
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">description</th>
                            <th class="px-4 py-2 text-left border">prix</th>
                            <th class="px-4 py-2 text-left border">Image</th>
                            
                           
                            <th class="px-4 py-2 text-left border">Modifier</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                            
                        </tr>
                    </thead>
                    <tbody id="gateaux-list">
                        {% for vn in glaces %}
                        <tr class="hover:bg-gray-100" id="vn-{{ vn.id }}">
                            <td class="border px-4 py-2">{{ vn.Nom }}</td>
                            <td class="border px-4 py-4">{{ vn.description }}</td>
                            <td class="border px-4 py-4">{{ vn.prix }}</td>
                            <td class="border px-4 py-2">
                                {% if vn.image %}
                                <img src="{{ vn.image.url }}" class="h-16 w-32">
                                {% else %}
                                pas d'image
                                {% endif %}
                            </td>
                            
                            
                            
                            <td class="border px-8 py-4">
                                    <a href="{% url 'len:modifier_salé' vn.id %}" class="mt-10 block w-full rounded-md bg-gray-700 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-yellow-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Modifier</a>
                            </td>
                            <td class="border px-8 py-4">
                            <a href="#" 
                                 data-id="{{ vn.id }}"  
                                class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-btn">
                                Supprimer
                            </a>
                            </td>
                            
                        </tr>
                            {% endfor %}
                        </tbody>
                  </table>
             </div>
            </div>
        </div>

        <div id="Commandes" class="tab hidden">
            <div class="flex flex-row space-x-4 px-2 pb-3 pt-2 mb-5" id="sub-menu">
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" aria-current="page" onclick="openSubTab('non_livré', this)">Non Livrés</a>
                <a href="#" class="sub-tab-button rounded-md px-3 py-2 text-sm font-bold text-gray-600 hover:bg-gray-700 hover:text-white" onclick="openSubTab('livré', this)">Livrés</a>
            </div>
            
            <!-- Onglet Non Livrés -->
            <div id="non_livré" class="sub-tab active">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="py-7 text-3xl font-bold text-gray-900">Les Commandes à livrer:</h2>
                </div>
                <div class="overflow-x-auto overflow-y-auto max-h-96">
                    <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2 text-left border">Nom</th>
                        <th class="px-4 py-2 text-left border">Prenom</th>
                        <th class="px-4 py-2 text-left border">tel</th>
                        <th class="px-4 py-2 text-left border">Nom_produit</th>
                        <th class="px-4 py-2 text-left border">Prix</th>
                        <th class="px-4 py-2 text-left border">Quantité</th>
                        <th class="px-4 py-2 text-left border">methode de paiement</th>
                        <th class="px-4 py-2 text-left border">payé</th>
                        <th class="px-4 py-2 text-left border">Libellé</th>
                        <th class="px-4 py-2 text-left border">Livré</th>
                        <th class="px-4 py-2 text-left border">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody id="salé-list">
                            {% for sl in commande_nonlivré %}
                            <tr class="hover:bg-gray-100" id="sl-{{ sl.id }}">
                                <td class="border px-4 py-2">{{ sl.Client.Nom }}</td>
                        <td class="border px-4 py-4">{{ sl.Client.prenom }}</td>
                        <td class="border px-4 py-4">{{ sl.Client.tel }}</td>
                        <td class="border px-4 py-4">{{ sl.produit.Nom }}</td>
                        <td class="border px-4 py-4">{{ sl.prix }} Dh</td>
                        <td class="border px-4 py-4">{{ sl.Quantité }} </td>
                        <td class="border px-4 py-4">{{ sl.methode_paiement }} </td>
                        <td class="border px-4 py-4">{{ sl.payé }} </td>
                        <td class="border px-4 py-4">{{ sl.libellé }} </td>
                        <td class="border px-8 py-4">
                            <a href="{% url 'len:livrer' sl.id %}" 
                                data-id="{{ sl.id }}"  
                                class="mt-10 block w-full rounded-md bg-green-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 livrer-btn">
                                Livré
                            </a>
                        </td>
                        
                        <td class="border px-8 py-4">
                        <a href="#" 
                             data-id="{{ sl.id }}"  
                            class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-commande-btn">
                            Supprimer
                        </a>
                        </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="10" class="text-center">Aucune commande à livrer</td>
                                </tr>
                             {% endfor %}
                         </tbody>
                         </table>
                     </div>
                 </div>
              <!-- Onglet Livrés -->
            <div id="livré" class="sub-tab hidden">
            <div class="flex justify-between items-center mb-4">
                 <h2 class="py-7 text-3xl font-bold text-gray-900">Les Commandes Livrées:</h2>
             </div>
            <div class="overflow-x-auto overflow-y-auto max-h-96">
            <table id="salés-table" class="min-w-full table-auto border-collapse border border-gray-300">
                <thead>
                    <tr class="bg-gray-200">
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left border">Nom</th>
                            <th class="px-4 py-2 text-left border">Prenom</th>
                            <th class="px-4 py-2 text-left border">tel</th>
                            <th class="px-4 py-2 text-left border">Nom_produit</th>
                            <th class="px-4 py-2 text-left border">Prix</th>
                            <th class="px-4 py-2 text-left border">Quantité</th>
                            <th class="px-4 py-2 text-left border">Supprimer</th>
                    </tr>
                </thead>
                <tbody id="salé-list">
                    {% for sl in commande_livré %}
                    <tr class="hover:bg-gray-100" id="sl-{{ sl.id }}">
                        <td class="border px-4 py-2">{{ sl.Client.Nom }}</td>
                        <td class="border px-4 py-4">{{ sl.Client.prenom }}</td>
                        <td class="border px-4 py-4">{{ sl.Client.tel }}</td>
                        <td class="border px-4 py-4">{{ sl.produit.Nom }}</td>
                        <td class="border px-4 py-4">{{ sl.prix }} Dh</td>
                        <td class="border px-4 py-4">{{ sl.Quantité }} </td>
                        <td class="border px-8 py-4">
                        <a href="#" 
                             data-id="{{ sl.id }}"  
                            class="mt-10 block w-full rounded-md bg-red-500 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 annuler-commande-btn">
                            Supprimer
                        </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center">Aucune commande livrée</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
             </div>
            </div>
        </div>
<div id="Actualites" class="tab hidden">
    
</div>
</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    function openTab(tabName, button) {
        // Masquer tous les onglets
        var tabs = document.querySelectorAll('.tab');
        tabs.forEach(function(tab) {
            tab.classList.add('hidden');
            tab.classList.remove('active');
        });
    
        // Supprimer la classe active de tous les boutons
        var buttons = document.querySelectorAll('.tab-button');
        buttons.forEach(function(btn) {
            btn.classList.remove('bg-yellow-600');
        });
    
        // Afficher l'onglet sélectionné
        document.getElementById(tabName).classList.remove('hidden');
        document.getElementById(tabName).classList.add('active');
    
        // Ajouter la classe active au bouton sélectionné
        button.classList.add('bg-yellow-600');
    }
    function openSubTab(subTabName, button) {
        // Masquer tous les sous-onglets
        var subTabs = document.querySelectorAll('.sub-tab');
        subTabs.forEach(function(subTab) {
            subTab.classList.add('hidden');
            subTab.classList.remove('active');
        });

        // Supprimer la classe active de tous les boutons de sous-onglets
        var subButtons = document.querySelectorAll('.sub-tab-button');
        subButtons.forEach(function(subBtn) {
            subBtn.classList.remove('bg-orange-500', 'text-white');
            subBtn.classList.add('text-gray-600');
        });

        // Afficher le sous-onglet sélectionné
        document.getElementById(subTabName).classList.remove('hidden');
        document.getElementById(subTabName).classList.add('active');

        // Ajouter la classe active au bouton de sous-onglet sélectionné
        button.classList.add('bg-orange-500', 'text-white');
        button.classList.remove('text-gray-600');
    }
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.annuler-btn');
    
        buttons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();  // Prevent the default link behavior
    
                const membreId = this.getAttribute('data-id');  // Get the avion ID
    
                Swal.fire({
                    title: "Êtes-vous sûr?",
                    text: "Cette action ne sera pas annulable!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    cancelButtonText:"Non",
                    confirmButtonText: "Oui, supprimer le produit!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Create and submit a form dynamically
                        const form = document.createElement('form');
                        form.method = 'POST';
                        form.action = `{% url 'len:annuler_produit' 0  %}`.replace('0', membreId);  // Ensure the URL is correct
                        
                        const csrfTokenInput = document.createElement('input');
                        csrfTokenInput.type = 'hidden';
                        csrfTokenInput.name = 'csrfmiddlewaretoken';
                        csrfTokenInput.value = '{{ csrf_token }}';  // Make sure this is the correct CSRF token
    
                        form.appendChild(csrfTokenInput);
                        document.body.appendChild(form);
                        form.submit();
                    }
                });
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.annuler-commande-btn');
    
        buttons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();  // Prevent the default link behavior
    
                const membreId = this.getAttribute('data-id');  // Get the avion ID
    
                Swal.fire({
                    title: "Êtes-vous sûr?",
                    text: "Cette action ne sera pas annulable!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    cancelButtonText:"Non",
                    confirmButtonText: "Oui, supprimer la commande!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Create and submit a form dynamically
                        const form = document.createElement('form');
                        form.method = 'POST';
                        form.action = `{% url 'len:annuler_commande' 0  %}`.replace('0', membreId);  // Ensure the URL is correct
                        
                        const csrfTokenInput = document.createElement('input');
                        csrfTokenInput.type = 'hidden';
                        csrfTokenInput.name = 'csrfmiddlewaretoken';
                        csrfTokenInput.value = '{{ csrf_token }}';  // Make sure this is the correct CSRF token
    
                        form.appendChild(csrfTokenInput);
                        document.body.appendChild(form);
                        form.submit();
                    }
                });
            });
        });
    });
    
</script>


</body>
</html>